html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

}
canvas {
  display: block;
}

.status {
  position: fixed;
  top: 1rem;
  left: 1rem;
  font-size: 3rem;
  font-weight: bold;
  color: yellow;
  mix-blend-mode: difference;
}
