.textContainer {
  width: calc(var(--grid-width) * 3 + var(--grid-gap) * 2);
  margin-left: calc(var(--grid-width) + var(--grid-gap) + var(--grid-margin));
}

.header {
  font-size: var(--grid-margin);
  letter-spacing: 0.25em;
  line-height: var(--grid-margin);
  z-index: 1;
  writing-mode: vertical-rl;
}

@media screen and (max-width: 768px) {
  .textContainer {
    width: calc(var(--grid-width) * 5 + var(--grid-gap) * 4);
    margin-left: var(--grid-margin);
  }

  .header {
    font-size: calc((var(--grid-width) + var(--grid-margin)) / 2);
    line-height: calc((var(--grid-width) + var(--grid-margin)) / 2);
  }
}
