html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}


.m-plus-1-code {
  font-family: "M PLUS 1 Code", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}