@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --grid-margin: 3rem;
  --grid-gap: 1rem;
  --grid-width: calc(
    (100vw - var(--grid-gap) * 5 - var(--grid-margin) * 2) / 6
  );
}

@media screen and (max-width: 768px) {
  :root {
    --grid-gap: 0.5rem;
    --grid-margin: 1rem;
    --grid-width: calc(
      (100vw - var(--grid-gap) * 5 - var(--grid-margin) * 2) / 6
    );
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-doto: var(--font-doto);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fade-in 0.5s ease-in-out;
}

@media screen and (max-width: 768px) {
  p {
    font-size: 0.875rem;
  }
}
