.button {
  width: calc(var(--grid-width) / 3);
  height: calc(var(--grid-width) / 3);
}

@media screen and (max-width: 768px) {
  .button {
    width: calc(var(--grid-width));
    height: calc(var(--grid-width));
  }
}
