.button {
  width: var(--grid-margin);
  height: var(--grid-margin);
}

@media screen and (max-width: 768px) {
  .button {
    width: calc((var(--grid-width) + var(--grid-margin)) / 2);
    height: calc((var(--grid-width) + var(--grid-margin)) / 2);
  }
}
